$white: rgba(255,255,255,1);
$black: #4D4D4D;
$lightgrey: #B3B3B3;
$offwhite: #EBEBEB;
$grey: #E2E2E2;
$lightblue: #E8EFF9;

//Reds
$primary-1: #C84630;
$primary-2: #EC6B52;

//Blues
$secondary-1: #2A6190;

//Off brand
$offbrand-1: #1D6BB1;
$offbrand-2: #06ACA1;