@import "compass/css3/transform";
@import "compass/css3";
@import "plugins";
@import "fonts";
@import "colors";

/**
Start Queries Styles
**/

@media only screen and (max-width: 1080px){
	section{
		
		div.container{
			padding: 60px;
		}

		&.cover-masthead{
			
			div.container{
				padding: 60px 60px;
			}
		}
	}

	h1{
		font-size: 2.375em;
	}

	h2{
		font-size: 1.5em;
	}

	h3{
		font-size: 1.3em;
		line-height: 1.225em;
	}

	h4{
		font-size: 1.3em;
		line-height: 1.225em;
	}

	h5{
		font-size: 1em;
	}

	h6{
		font-size: 1em;
	}

	p,li{
		font-size: .9em;
		line-height: 1.425em;
	}

}

@media only screen and (max-width: 700px){
	.floated-image-right, .floated-image-left{
		float: none;
		margin: 0 auto 40px auto;
		max-width: 300px;
		width: auto;
		height: 300px;

	}
}

@media only screen and (max-width: 400px){
	section{
		div.container{
			padding: 60px 20px;
		}

		&.cover-masthead{
			
			div.container{
				padding: 60px 20px;
			}
		}
	}
}



/**
End Queries Styles
**/